@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0, 0%, 96%;
    --foreground: 0, 0%, 40%;
    --card: 0, 0%, 100%;
    --card-foreground: 0, 0%, 40%;
    --popover: 0, 0%, 100%;
    --popover-foreground: 0, 0%, 40%;
    --primary: var(--primary-light);
    --muted: 0, 0%, 93%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 0, 0%, 93%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 0, 0%, 40%;
    --radius: 0.5rem;
    --blog-text-color: 0, 0%, 10%;
  }

  .dark {
    --background: 0, 0%, 7%;
    --foreground: 0, 0%, 100%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 0, 0%, 100%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 0, 0%, 100%;
    --primary: var(--primary-dark);
    --muted: 0, 1%, 17%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 0, 1%, 17%;
    --accent-foreground: 0, 0%, 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0, 0%, 100%;
    --border: 0, 1%, 17%;
    --input: 0, 1%, 17%;
    --ring: 212.7 26.8% 83.9%;
    --blog-text-color: 0, 0%, 95%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.swiper-button-prev,
.swiper-button-next {
  @apply bottom-0 top-0 m-0 h-full px-8 text-background dark:text-primary max-sm:px-4;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  @apply text-3xl sm:text-4xl;
}

/* rocket cursor */
.rocket {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8;

  & svg {
    fill: #ff8811;
    stroke: transparent;
    height: 44px;
    width: 32px;
  }
}

.glow {
  width: 0;
  height: 0;
  box-shadow: 0 0 100px 20px #f6ae2d;
  position: absolute;
  top: 0;
  left: 50%;
}

.heart {
  position: absolute;
  top: -24px;
  right: 50%;
  transform: rotate(-65deg);
  color: red;
  opacity: 0;
  transition: opacity 0.5s;
}
main {
  @apply max-sm:py-20;
}

@keyframes fadeout {
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}
